
<head>
    <title>LaptopsIt!</title>
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Laptos I.T!</p>
            <nav>
                <a href="#About-us">About us</a>
                <a href="#Our-Products">Our Products</a>
                <a href="#Create-Product">Create Product</a>
                <a href="#List-Product">List Product</a>
                
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Find the best laptop  <br>for you</h1>
        <button>APLICÁ YA!</button>
    </section>

    <section id="About-us">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>Somos <span class="color-acento">ProgramaYa!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis a autem sed dignissimos commodi, voluptas incidunt voluptatibus cum, quia neque nulla consequatur laborum accusamus, perspiciatis odio nemo minus vel!</p>
            </div>
        </div>
    </section>

    <section id="Our-Products">
        <div class="container">
            <h2>Nuestros Programas</h2>
            <div class="programas">
                <div class="carta">
                    <h3>Programador Front-end</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Programador Full-Stack</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>Programador Python</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>  
            </div>
        </div>
    </section>

    <section id="Create-Product">
        <div class="container">
            <div class="texto">
                <h2>Create<span class="color-acento"> Product</span></h2>
            </div >
            <div class="formulario">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">&#64;</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">example.com</span>
                  </div>
                  
                  <div class="mb-3">
                    <label for="basic-url" class="form-label">Your vanity URL</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                    </div>
                    <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
                  </div>
                  
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                  </div>
                  
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <span class="input-group-text">aaa</span>
                    <input type="text" class="form-control" placeholder="Server" aria-label="Server">
                  </div>
                  
                  <div class="input-group">
                    <span class="input-group-text">With textarea</span>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                  </div>

            </div>
            
        </div>
        
    </section>

    <section id="List-Product">
        <div class="container">
            <div class="texto">
                <h2>List of<span class="color-acento"> Laptops</span></h2>
            </div>
         
            <div class="tabla">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Color</th>
                            <th>Referencia</th>
                            <th>Tamaño</th>
                            <th>Almacenamiento</th>
                            <th>Ram</th>
                            <th>Procesador</th>
                            <th>Precio</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Laptops of listLaptops">
                           
                            <td>{{ Laptops.Marca }}</td>
                            <td>{{ Laptops.Color }}</td>
                            <td>{{ Laptops.Referencia }}</td>
                            <td>{{ Laptops.Tamano }}</td>
                            <td>{{ Laptops.Almacenamiento }}</td>
                            <td>{{ Laptops.Ram }}</td>
                            <td>{{ Laptops.Procesador }}</td>
                            <td>{{ Laptops.Precio }}</td>
                            <td>
                                <i class="far fa-edit" style="color: #6610f2;"></i>
                            </td>
                            <td>
                                <i class="far fa-trash-alt text-danger"></i>
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
            
        </div>
    </section>

    <section id="final">
        <h2>Listo para programar?</h2>
        <button>APLICÁ YA!</button>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Brayan Rodriguez Cruz</p>
        </div>
    </footer>
</body>
