
<head>
    <title>LaptopsIt!</title>
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Laptos I.T!</p>
            <nav>
                <a href="#About-us">About us</a>
                <a href="#Our-Products">Our Products</a>
                <a href="#Create-Product">Create Product</a>
                <a href="#List-Product">List Product</a>
                
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Find the best laptop  <br>for you</h1>
        <button>Buy!</button>
    </section>

    <section id="About-us">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">

                <h2>We are <span class="color-acento">Laptops it!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veritatis a autem sed dignissimos commodi, voluptas incidunt voluptatibus cum, quia neque nulla consequatur laborum accusamus, perspiciatis odio nemo minus vel!</p>
            </div>
        </div>
    </section>

    <section id="Our-Products">
        <div class="container">
            <h2>Our Laptops</h2>
            <div class="programas">
                <div class="carta">
                    <h3>To develop Front-end</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>To develop Full-Stack</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>
                <div class="carta">
                    <h3>To develop Python</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero corporis incidunt saepe qui commodi quasi neque veniam quam, aspernatur est beatae maxime animi sed reiciendis mollitia ducimus veritatis repellendus?</p>
                    <button>+ Info</button>
                </div>  
            </div>
        </div>
    </section>

    <section id="Create-Product">
        <div class="container">
            <div class="texto">
                <h2>{{ action }}<span class="color-acento"> Product</span></h2>
            </div >
            <form [formGroup]="form" (ngSubmit)="addlaptop()">
                <div class="formulario">
                
                    <div class="row">
                        <div class="col-lg-5" id="Brand">
                            <label for="validationCustom01" class="form-label"><strong>Brand</strong></label>    
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-laptop"
                                    [class.green-icon]="this.form.get('Brand')?.valid"
                                [class.red-icon]="this.form.get('Brand')?.invalid && this.form.get('Brand')?.touched"></i>
                                </span>
                                <input formControlName="Brand" maxlength="12" type="text" class="form-control" placeholder="Asus Rog Strix" >
                              </div>
                        </div>
    
                        <div class="col-lg-3" id="Color">
                            <label for="validationCustom01" class="form-label"><strong>Color</strong> </label>    
                            <select formControlName="Color" class="form-select" aria-label="Default select example">
                                <option selected>Color</option>
                                <option value="black">Black</option>
                                <option value="white">White</option>
                                <option value="silver">Silver</option>
                                <option value="grey">Grey</option>
                                <option value="blue">Blue</option>
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="yellow">Yellow</option>
                                <option value="purple">Purple</option>
                                <option value="pink">Pink</option>
                                <option value="brown">Brown</option>
                                <option value="gold">Gold</option>
                                <option value="orange">Orange</option>
                                <option value="teal">Teal</option>
                                <option value="navy">Navy</option>
                                <option value="maroon">Maroon</option>
                                <option value="lime">Lime</option>
                                <option value="olive">Olive</option>
                                <option value="cyan">Cyan</option>
                                <option value="magenta">Magenta</option>
                            </select>
                        </div>
                        <div class="col-lg-4" id="Reference">
                            <label for="validationCustom01" class="form-label"><strong>Reference</strong></label>    
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-regular fa-keyboard"
                                    [class.green-icon]="this.form.get('Reference')?.valid"
                                    [class.red-icon]="this.form.get('Reference')?.invalid && this.form.get('Reference')?.touched"></i>
                                </span>
                                <input formControlName="Reference" type="text" maxlength="8" class="form-control" placeholder="Rog Ally 2024 " >
                              </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-4" id="Size">
                            <label for="validationCustom01" class="form-label"><strong>Size</strong></label>    
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-up-right-and-down-left-from-center"
                                    [class.green-icon]="this.form.get('Size')?.valid"
                                    [class.red-icon]="this.form.get('Size')?.invalid && this.form.get('Size')?.touched"></i>
                                </span>
                                <input formControlName="Size" maxlength="5" type="text" class="form-control" placeholder="19''" >
                              </div>
                            </div>
                            <div class="col-md-4" id="Storage">
                                <label for="validationCustom01" class="form-label"><strong>Storage</strong></label>    
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-hard-drive"
                                        [class.green-icon]="this.form.get('Storage')?.valid"
                                    [class.red-icon]="this.form.get('Storage')?.invalid && this.form.get('Storage')?.touched"></i>
                                    </span>
                                    <input formControlName="Storage" maxlength="5" type="text" class="form-control" placeholder="128GB" >
                                  </div>
                            </div>
                            <div class="col-md-4" id="Ram">
                            <label for="validationCustom01" class="form-label"><strong>Ram</strong></label>    
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-memory"
                                    [class.green-icon]="this.form.get('Ram')?.valid"
                                    [class.red-icon]="this.form.get('Ram')?.invalid && this.form.get('Ram')?.touched"></i>
                                </span>
                                <input formControlName="Ram" maxlength="5" type="text" class="form-control" placeholder="16GB" >
                              </div>
                            </div>
                            <div class="col-md-6" id="Processor">
                            <label for="validationCustom03" class="form-label"><strong>Processor</strong> </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-microchip"
                                    [class.green-icon]="this.form.get('Processor')?.valid"
                                    [class.red-icon]="this.form.get('Processor')?.invalid && this.form.get('Processor')?.touched"></i>
                                </span>
                                <input formControlName="Processor" type="text" class="form-control" placeholder="Intel" >
                              </div>            
                            </div>
                            <div class="col-md-6" id="Price">
                                <label for="validationCustom03" class="form-label"><strong>Price</strong> </label>
                                <div class="input-group mb-3" >
                                    <span class="input-group-text">$</span>
                                    <input formControlName="Price" maxlength="12" type="text" class="form-control" placeholder="500.000" aria-label="Amount (to the nearest dollar)">
                                    <span  class="input-group-text">.00</span>
                                  </div>     
                            </div>     
                            <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                You must agree before submitting.
                                </div>
                            </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button [disabled]="this.form.invalid" class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                    </div>
              
                </div>

                
            </form>
            
            
        </div>
        
    </section>

    <section id="List-Product">
        <div class="container">
            <div class="texto">
                <h2>List of<span class="color-acento"> Laptops</span></h2>
            </div>
         
            <div class="tabla">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Color</th>
                            <th>Reference</th>
                            <th>Size</th>
                            <th>Storage</th>
                            <th>Ram</th>
                            <th>Processor</th>
                            <th>Price</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Laptops of listLaptops">
                           
                            <td>{{ Laptops.Brand }}</td>
                            <td>{{ Laptops.Color }}</td>
                            <td>{{ Laptops.Reference }}</td>
                            <td>{{ Laptops.Size }}</td>
                            <td>{{ Laptops.Storage }}</td>
                            <td>{{ Laptops.Ram }}</td>
                            <td>{{ Laptops.Processor }}</td>
                            <td>{{ Laptops.Price }}</td>
                            <td>
                                <i (click)="editlaptop(Laptops)" class="far fa-edit" style="color: #6610f2;"></i>
                            </td>
                            <td>
                                <i (click)="deletelaptop(Laptops.id)" class="far fa-trash-alt text-danger"></i>
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
            
        </div>
    </section>

    <section id="final">
        <h2>Are you ready to buy your next laptop?</h2>
        <button>BUY</button>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Brayan Rodriguez Cruz</p>
        </div>
    </footer>
</body>
